body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(#APP_FILES#login.jpg);
  background-size: 100% Auto;
  background-repeat: no-repeat;
}


.col-7>.rel-col .col-5 {
  flex-basis: 71.4285714286%;
  max-width: 71.4285714286%;
}

.t-Login-title {
  display: none;
}

.t-Login-region {
  background-color: #EDDBC0;
}

.t-Login-logo {
  width: 205px;
  height: 151px;
  mix-blend-mode: multiply;
}

.signUp{
  background: #B73E3E;
  width: 100%;
}